.header{
	padding-top: 20px;
}
.tel__header{
	text-align: right;
	font-family: "fibel_suedregular";
}
.tel__header a{
	color: #414141;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.btn-nuestros-datos{
	margin-left: 20px;
}
.border__gris{
	border-bottom: 1.5px solid #d8dade;
}
.menu__header{
	font-family: "hasteristicolight";
	padding-top: 5px;
}
.menu__header ul{
	margin-bottom: 0px;
}
.menu__header li{
	display: inline-block;
	list-style: none;
}
.menu__header li a, .menu__header li a img{
	vertical-align: middle;
}
.menu__header li a{
	font-size: 14px;
	margin-right: none;
	font-weight: bold;
	padding: 5px 10px;
}
.menu__header li a:hover{
	background: #f58422;
	color: #fff;
}
.menu__header li:nth-child(1),.menu__header li:nth-child(2),.menu__header li:nth-child(3){
	border-right: 1.5px solid #d8dade;
}
.linea__naranja{
	border-top: 2px solid #f58422;
}