.header{
	padding-top: 20px;
}
.tel__header{
	text-align: right;
	font-family: "fibel_suedregular";
}
.tel__header a{
	color: #414141;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.btn-nuestros-datos{
	margin-left: 20px;
}
.border__gris{
	border-bottom: 1.5px solid #d8dade;
}
.menu__header{
	font-family: "hasteristicolight";
	padding-top: 5px;
}
.menu__header ul{
	margin-bottom: 0px;
}
.menu__header li{
	display: inline-block;
	list-style: none;
}
.menu__header li a, .menu__header li a img{
	vertical-align: middle;
}
.menu__header li a{
	font-size: 14px;
	margin-right: none;
	font-weight: bold;
	padding: 5px 10px;
}
.menu__header li a:hover{
	background: #f58422;
	color: #fff;
}
.menu__header li:nth-child(1),.menu__header li:nth-child(2),.menu__header li:nth-child(3){
	border-right: 1.5px solid #d8dade;
}
.linea__naranja{
	border-top: 2px solid #f58422;
}

.page{
	color: #808180;
	background:url(../images/debut_light.png);
}

.product__home{
	text-align: center;
	font-family: "fibel_suedregular";
}
.product__home img{
	border: solid 1px #414141;
	padding: 5px;
	margin-bottom: 10px;
}
.product__home h3{
	margin-bottom: 5px;	
	font-size: 24px;
	color: #414141;
	font-weight: normal;
	letter-spacing: .5px;
}
.boton__home{
	text-align: center;
}
.boton__home li{
	min-height: 26px;
	margin-bottom: 3px;
	list-style: none;
	max-width: 100%;
	background: #ea8821;
}
.boton__home li:first-child{
	background: #ea8821;
}
.boton__home li:nth-child(2){
	background: #e9680a;
}
.boton__home li a{
	max-width: 100%;
	text-decoration: none;
	color: #ffffff;
}
.bloque__100{
	padding: 20px 0px;
}
.text_100 p{
	margin-bottom: 0px;
	line-height: 20px;
	text-align: justify;
}
.padding-top{
	padding-top: 20px;
}
.linea__gris{
	border-bottom: 1.5px solid #d8dade;
}


footer{
	background: #252525;
	padding: 30px 0px 0px 0px;
	color: #ffffff;
}
.menu__footer li{
	list-style: none;
	font-size: 14px;
	margin-bottom: 0px;
}
.menu__footer li a{
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
}
.cubrimiento__footer p{
	margin-bottom: 0px;
}
.cubrimiento__footer p, .cubrimiento__footer img{
	vertical-align: middle;
}
ul.menu__cubrimiento{
	list-style-image:url(../images/icon-disc.png);
}
.menu__cubrimiento li{
	margin-bottom: 0px;
}
.menu__cubrimiento li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}
.padding-left{
	padding-left: 30px;
}
.contacto__footer li{
	list-style: none;
}
.contacto__footer li, .contacto__footer img{
	vertical-align: middle;
}
.contacto__footer li a{
	color: #ffffff;
	text-decoration: none;
}
.contacto__footer li a:hover,.menu__cubrimiento li a:hover,.menu__footer li a:hover{
	text-decoration: underline;
}
.contacto__footer img{
	margin-right: 10px;
}
.linea__blanca__footer{
	border-top: 2px solid #ffffff;
}
.copyright{
	padding: 10px 0px;
	background: #000000;
	text-align: center;
	color: #ffffff;
}
.copyright p{
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 12px;
}
.copyright p span{
	font-weight: normal;
	font-size: 10px;
}
.copyright a{
	text-decoration: none;
	color: #ffffff;
}